.navContainer {
  height: 100%;
  font-size: 0.9rem;
}

.navList {
  display: flex;
  list-style: none;
  height: 100%;
}

.navLink {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.25rem 1rem;
  color: var(--foreground);
  text-decoration: none;
  transition: all 0.15s ease;
}

.navText {
  display: inline-block;
  transition: transform 0.15s ease;
}

.navLink.active,
.navLink:hover {
  background-color: var(--blue);
}

.navLink:active .navText {
  transform: scale(0.9);
}
