.container {
  position: relative;
  margin-right: 0.75rem;
  flex-grow: 1;
  min-width: 300px;
}

.searchInput {
  width: 100%;
  height: 30px;
  padding: 0 0.75rem 0 3.3rem;
  font-size: 0.8rem;
  background-color: var(--foreground);
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  transition: all 0.3s ease;
  color: var(--background-primary);
  line-height: 30px;
  display: block;
  appearance: none;
}

.searchInput::placeholder {
  color: var(--background-secondary);
  line-height: 30px;
  vertical-align: middle;
}

.searchInput:hover {
  background-color: white;
  cursor: pointer;
}

.searchInput:focus {
  background-color: white;
  color: var(--background-primary);
  box-shadow: none;
  outline: none;
}

.searchInput:not(:focus):not(:placeholder-shown) {
  color: var(--background-secondary);
  background-color: white;
}

.searchInputOpen {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.icon {
  position: absolute;
  cursor: pointer;
  user-select: none;
  color: var(--background-primary);
}

.icon:active {
  transform: scale(0.95);
}

.glass {
  top: 3.5px;
  left: 10px;
}

.delete {
  bottom: 1.5px;
  right: 3px;
}

.separator {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
  height: 100%;
  width: 1px;
  background-color: var(--border);
  pointer-events: none;
}

.resultsContainer {
  position: absolute;
  padding: 0;
  z-index: var(--z-searchresults);
  width: calc(100% - 2px);
  max-height: 660px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  background-color: white;
}

.resultsList {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.resultsFooter {
  font-size: 0.7rem;
  text-align: center;
  padding: 0.25rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  color: var(--background-primary);
}

.noResults {
  font-size: 0.7rem;
  text-align: center;
  padding: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  color: var(--background-primary);
}
