.container {
  padding-left: 1em;
  margin-bottom: 1rem;
}

.titleContainer {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.title {
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  font-size: 1.5rem;
}

.navArrow {
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  color: var(--blue);
  transition: transform 0.15s ease;
}

.navArrow:active {
  transform: scale(0.9);
}

.leftArrow {
  position: absolute;
  left: -1.1em;
  bottom: 2px;
}

.disabledArrow {
  cursor: default;
  pointer-events: none;
  visibility: hidden;
}

.resultsText {
  font-size: 0.65rem;
  margin-bottom: 0.25rem;
}

.paginationText {
  font-size: 0.65rem;
  margin-bottom: 0;
}

.bold {
  font-weight: 700;
}
