.container {
  min-width: 16.6667%;
  flex: 1 0 auto;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
}

.card {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
}

.imageContainer {
  position: relative;
  width: 100%;
  flex-grow: 0;
  display: flex;
  aspect-ratio: 2/3;
  overflow: hidden;
}

.imageLink {
  position: relative;
  display: flex;
  width: 100%;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.placeholderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  text-align: start;
}

.yearBadge {
  position: absolute;
  padding: 0.25rem;
  font-weight: 700;
  background: var(--border);
  color: var(--foreground);
  font-size: 0.75rem;
  line-height: 1;
  left: 0.5rem;
  bottom: 0.5rem;
}

.footer {
  height: 40px;
  min-width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.buttonsContainer {
  height: 100%;
}

.button {
  height: 100%;
  width: 30px;
  min-width: 30px;
  padding: 2px 0 0;
  border-radius: 0;
}

.infoContainer {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-right: 0.25rem;
}

.heartIcon {
  color: #dc3545;
  font-size: 1.2rem;
}

.rating {
  font-size: 0.75rem;
}

.checkWrapper {
  position: relative;
  height: 100%;
  display: inline-block;
}

.confirmPopover {
  position: absolute;
  bottom: calc(100%);
  left: 0;
  z-index: 100;
  background-color: var(--background-primary);
  border: 1px solid var(--border);
  padding: 0.5rem 0.7rem;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.confirmPopover p {
  font-size: 0.75rem;
  margin: 0;
  line-height: 1.3;
  color: var(--foreground);
}

.confirmButtons {
  display: flex;
  justify-content: space-evenly;
}

.validate,
.cancel {
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
}

.validate {
  color: var(--green);
}

.validate:hover {
  color: var(--foreground);
  background-color: var(--green);
}

.cancel {
  color: var(--red);
}

.cancel:hover {
  color: var(--foreground);
  background-color: var(--red);
}
