.container {
  min-width: 16.6667%;
  flex: 1 0 auto;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
}

.card {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: visible;
}

.imageContainer {
  position: relative;
  width: 100%;
  flex-grow: 0;
  display: flex;
  aspect-ratio: 2/3;
  overflow: hidden;
}

.imageLink {
  position: relative;
  display: flex;
  width: 100%;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.placeholderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  text-align: start;
}

.yearBadge {
  position: absolute;
  padding: 0.25rem;
  font-weight: 700;
  background: var(--border);
  color: var(--foreground);
  font-size: 0.75rem;
  line-height: 1;
  left: 0.5rem;
  bottom: 0.5rem;
}

.footer {
  height: 40px;
  min-width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.buttonsContainer {
  height: 100%;
  position: relative;
  display: flex;
  align-items: stretch;
}

.button {
  height: 100%;
  width: 30px;
  min-width: 30px;
  padding: 2px 0 0;
  border-radius: 0;
  flex-shrink: 0;
}

.watchlistWrapper {
  position: relative;
  display: flex;
  align-items: stretch;
}

.infoContainer {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.heartWrapper {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0 0.25rem;
  cursor: pointer;
}

.rating {
  font-size: 0.75rem;
  color: var(--foreground);
}
